VITE_SUPABASE_URL=https://cfvtewkqnpsusyuntjzg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNmdnRld2txbnBzdXN5dW50anpnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY3NTk0MDEsImV4cCI6MjA3MjMzNTQwMX0.yYOh3FcHMspDkCljd0kDJ0ZLvAnl0OXmgmqa8IgzjLk